<!--FOOTER-->
<footer>
  <div class="row pb-3" style="border-bottom: 2px solid #9ED4DD;">
    <div class="col-12">
      <img src="./../../../assets/imgs/logo-horizontal_1.svg" alt="Logo revisaenem" class="img-fluid" width="250">
    </div>
  </div>

  <div class="row navegacao-footer mt-3">
    <div class="col-sm-2">
      <h6>Sobre</h6>
    </div>

    <div class="col-sm-2">
      <h6>Produtos</h6>
    </div>

    <div class="col-sm-2">
      <h6>Nosso aplicativo</h6>
    </div>

    <div class="col-sm-3">
      <h6>Onde nos encontrar</h6>
    </div>

    <div class="col-sm-3">
      <button class="btn btn-secondary">
        quero assinar
      </button>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12" style="text-align: center;">
      <p>
        © copyright RevisaENEM - all rights reserved
      </p>
    </div>
  </div>
</footer>
