<!--FOOTER-->
<footer>
  <div class="row pb-3" style="border-bottom: 2px solid #9ED4DD;">
    <div class="col-12">
      <img src="./../../../assets/imgs/logo-horizontal_1.svg" alt="Logo revisaenem" class="img-fluid" width="250">
    </div>
  </div>

  <div class="row navegacao-footer mt-3 pl-4">
    <div class="col-6 col-sm-2">
      <h6 class="footer-sub">
        <img src="./../../../assets/imgs/produtos/mao-footer.png" alt="Ícone do revisa enem">
        Sobre
      </h6>

      <p class="footer-p">Trabalhe conosco</p>
      <p class="footer-p">Quem somos</p>
      <p class="footer-p">Perguntas frequentes</p>
      <p class="footer-p">Fale conosco</p>
    </div>

    <div class="col-6 col-sm-2">
      <h6 class="footer-sub">
        <img src="./../../../assets/imgs/produtos/mao-footer.png" alt="Ícone do revisa enem">
        Produtos
      </h6>

      <p class="footer-p">Para escolas</p>
      <p class="footer-p">Para estudantes</p>
      <p class="footer-p">Quero assinar</p>
      <p class="footer-p">Me cadastrar</p>
    </div>

    <div class="col-6 col-sm-2 mt-4 mt-sm-0">
      <h6 class="footer-sub">
        <img src="./../../../assets/imgs/produtos/mao-footer.png" alt="Ícone do revisa enem">
        Nosso aplicativo
      </h6>

      <a href="#">
      <img src="./../../../assets/imgs/produtos/download-android.png" alt="Download do aplicativo para android" width="126" style="margin-bottom: 6px;">
      </a>

      <a href="#">
      <img src="./../../../assets/imgs/produtos/download-apple.png" alt="Download do aplicativo para apple" width="126">
      </a>
    </div>

    <div class="col-6 col-sm-3 mt-4 mt-sm-0">
      <h6>Onde nos encontrar</h6>
    </div>

    <div class="col-8 col-sm-3 mt-4">
      <button class="btn btn-secondary">
        quero assinar
      </button>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12" style="text-align: center;">
      <p>
        © copyright RevisaENEM - all rights reserved
      </p>
    </div>
  </div>
</footer>
