@import '../../../assets/variables-sass/variables';

//FOOTER
footer {
  padding: 30px 0 0 0;
  background: #fff;

  & h6.footer-sub {
    font-weight: 700;
    display: flex;
    align-items: center;

    & img {
      margin-right: 8px;
    }
  }

  & p.footer-p {
    margin-bottom: 6px;
    font-size: 16px;
    text-decoration: underline;
  }
}
