<!--NAVBAR-->
<nav class="nav navbar-light navbar-expand-md">
  <a routerLink="/home" class="navbar-brand pl-5" style="display: flex; align-items: center;">
    <img src="./../../../assets/imgs/logo-horizontal_1.svg" alt="Revisa" width="120px">
  </a>

  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse pr-5" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/assinatura" class="nav-link">Assinatura</a>
      </li>

      <li class="nav-item">
        <a href="" class="nav-link">Cadastro</a>
      </li>

      <li class="nav-item">
        <a href="" class="nav-link">Login</a>
      </li>
    </ul>
  </div>
</nav>
