@import '../../../assets/variables-sass/variables.scss';

//NAVBAR
.nav {
  border-bottom: 1.5px solid $cor-terciaria;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgba(255,255,255, .9);
}

.navbar-toggler {
  margin-left: auto;
  margin-right: 15px;
  border: none;
}
.navbar-collapse {
  justify-content: flex-end;

  & .nav-item {
    font-weight: 600;
    margin-right: 15px;

    & .nav-link {
      color: $cor-principal;
      font-size: 1.1rem;
      border-bottom: 1px solid transparent;
      transition: border-bottom ease-in-out 300ms;
      box-sizing: border-box;
    }

    & .nav-link:hover {
      border-bottom: 1px solid $cor-principal;
    }
  }
}
