<!--PRIMEIRA PARTE - 600 ESCOLAS E 25 MIL ALUNOS CTA-->
<div class="row primeiro-cta-1">
  <div class="col-12">
    <div class="row">
      <div class="col-12 text-c">
        <h4>Mais de 600 escolas e 25 mil alunos já se juntaram a nós <br *ngIf="larguraTela > 728;"> em busca de um melhor ensino e aprendizado</h4>
      </div>

      <div class="col-12">
        <button class="btn btn-estilo">
          quero fazer parte
        </button>
      </div>
    </div>
  </div>
</div>


<!--ESTADOS EM QUE ESTAMOS PRESENTES-->
<div class="row bg-branco">
  <div class="col-12 col-sm-4 dados-estaduais-2">
    <div class="row">
      <div class="col-10 offset-1 estados text-c">
        <img src="./../../../assets/imgs/estados/estado-pb.svg"
             alt="Estado da Paraíba"
             class="img-fluid img-estados">
        <h5>Paraíba</h5>
      </div>
    </div>

    <div class="col-12 numeros-estados text-c">
      <p>15 mil alunos</p>
      <p>450 escolas</p>

      <!--LINHA EM SVG-->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 10" class="pontos-estados">
        <defs>
          <style>.cls-1{
            fill:none;
            stroke:#667bc1;
            stroke-miterlimit:10;
            stroke-width:10px;
          }</style>
        </defs>

        <title>linha-animacao-estados</title>
        <g id="Camada_2" data-name="Camada 2"><g id="Layer_1" data-name="Layer 1">
          <line class="cls-1" x1="-10" y1="5" x2="180" y2="5"/>
        </g>
        </g>
      </svg>
    </div>
  </div>

  <div class="col-12 col-sm-4 dados-estaduais-2">
    <div class="row">
      <div class="col-10 offset-1 estados text-c">
        <img src="./../../../assets/imgs/estados/estado-ro.svg"
             alt="Estado da Paraíba"
             class="img-fluid img-estados">
        <h5>Rondônia</h5>
      </div>
    </div>

    <div class="col-12 numeros-estados text-c">
      <p>8 mil alunos</p>
      <p>200 escolas</p>

      <!--LINHA EM SVG-->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 10" class="pontos-estados">
        <defs>
          <style>.cls-1{
            fill:none;
            stroke:#667bc1;
            stroke-miterlimit:10;
            stroke-width:10px;
          }</style>
        </defs>

        <title>linha-animacao-estados</title>
        <g id="Camada_2" data-name="Camada 2"><g id="Layer_1" data-name="Layer 1">
          <line class="cls-1" x1="-10" y1="5" x2="180" y2="5"/>
        </g>
        </g>
      </svg>
    </div>
  </div>

  <div class="col-12 col-sm-4 dados-estaduais-2">
    <div class="row">
      <div class="col-10 offset-1 estados text-c">
        <img src="./../../../assets/imgs/estados/estado-rj.svg"
             alt="Estado da Paraíba"
             class="img-fluid img-estados">
        <h5>Rio de Janeiro</h5>
      </div>
    </div>

    <div class="col-12 numeros-estados text-c">
      <p>2 mil alunos</p>
      <p>4 escolas</p>

      <!--LINHA EM SVG-->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 10" class="pontos-estados">
        <defs>
          <style>.cls-1{
            fill:none;
            stroke:#667bc1;
            stroke-miterlimit:10;
            stroke-width:10px;
          }</style>
        </defs>

        <title>linha-animacao-estados</title>
        <g id="Camada_2" data-name="Camada 2">
          <g id="Layer_1" data-name="Layer 1">
            <line class="cls-1" x1="-10" y1="5" x2="180" y2="5"/>
          </g>
        </g>
      </svg>
    </div>
  </div>
</div>


<!--REFORÇO DO CTA COM MAIS DADOS / VOCÊ VAI FICAR DE FORA?-->
<div class="row dados-graficos-cta py-5">
  <div class="col-12 col-sm-7">
    <section class="circulos-dados">
      <div style="position: relative;">
        <div style="width: 180px; height: 180px" class="circulo-progresso-1"><!--CIRCULO DO PROGRESSO-->
          <svg viewBox="-5 -5 180 180" class="circulo-linha-box">
            <path class="circulo-linha"
                  stroke-dasharray="245"
                  stroke-dashoffset="-245"
                  d="M78 5
                      a 78 78 0 0 0 0 156"
            />
          </svg>
        </div>

        <article class="circulo text-c px-4">
          <h5 id="simulados">0</h5>
          <p>simulados entregues</p>
        </article>

        <article class="circulo mt-5 text-c px-4">
          <h5 id="questoes">500.000</h5>
          <p>questões respondidas</p>
        </article>
        <div style="width: 180px; height: 180px" class="circulo-progresso-2"><!--CIRCULO DO PROGRESSO-->
          <svg viewBox="-14 -164 180 180" class="circulo-linha-box">
            <path class="circulo-linha"
                  stroke-dasharray="245"
                  stroke-dashoffset="-245"
                  d="M78 5
                      a 78 78 0 0 0 0 -156"
            />
          </svg>
        </div>
      </div>

      <article class="circulo text-c px-4" style="position: relative">
        <h5 id="escolas">700</h5>
        <p>escolas abarcadas</p>

        <div style="width: 180px; height: 180px" class="circulo-progresso-3"><!--CIRCULO DO PROGRESSO-->
          <svg viewBox="-12 0 180 180" class="circulo-linha-box">
            <path class="circulo-linha"
                  stroke-dasharray="495"
                  stroke-dashoffset="495"
                  d="M78 5
                      a 78 78 0 0 0 0 156
                      a 78 78 0 0 0 0 -156"
            />
          </svg>
        </div>
      </article>
    </section>
  </div>

  <div class="col-12 col-sm-5 mt-4 mt-sm-0 ficar-fora">
    <div class="row">
      <div class="col-10">
        <h5>E você, vai ficar de fora?</h5>
        <p>Acompanhamos as grandes inovações do mundo da educação e queremos que você também tenha a chance de inovar em sua escola, conosco, e que possamos crescer e desenvolver cada vez mais.</p>
      </div>
      <div class="col-12">
        <button class="btn btn-estilo" style="margin-left: 0;">realizar assinatura</button>
      </div>
    </div>
  </div>
</div>


<!--MOSTRANDO AS FERRAMENTAS DO APP/FOTOS E TEXTO-->
<div class="row mt-5">
  <div class="col-12 col-sm-6 fundo-roxo imagem pt-5">
    <div class="row">
      <div class="col-10 col-sm-9">
        <h5>Um aplicativo.</h5>
        <h5>Múltiplas soluções</h5>

        <p>Da redação à matemática, estamos lá para lhe ajudar. Contamos com um sistema completo de simulados gerados por professores e pelos próprios alunos. Correção de redação? Temos professores corretores do ENEM prontos para dar aquela força necessária para o sonhado 1000.</p>

        <img src="./../../../assets/imgs/pessoas-ferramentas.png" alt="Pessoas construindo conhecimento" class="img-fluid pessoas-png">
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-3 mt-4 mt-sm-0 imgs-celulares">
    <img src="./../../../assets/imgs/cel-ferramentas.png" alt="Celular na tela-inicial do revisa" class="img-fluid cel-ferramentas">
  </div>

  <div class="col-12 col-sm-2 mt-4 mt-sm-0 imgs-celulares">
    <img src="./../../../assets/imgs/cel-ferramentas2.png" alt="Resultado do simulado no revisa" class="img-fluid cel-ferramentas">
  </div>
</div>


<!--PROFESSORES E ALUNOS CADA VEZ MAIS PERTO, PARCEIRINHO DIGIMON-->
<div class="row mt-5 py-5">
  <div class="col-10 col-sm-3 offset-2 offset-sm-0 img-digimon imgs-celulares">
    <img src="./../../../assets/imgs/cel-ferramentas2.png" alt="Resultado do simulado no revisa" class="img-fluid cel-professores">
  </div>

  <div class="col-10 col-sm-2 offset-2 offset-sm-0 img-digimon imgs-celulares">
    <img src="./../../../assets/imgs/cel-ferramentas2.png" alt="Resultado do simulado no revisa" class="img-fluid cel-professores">
  </div>

  <div class="col-12 col-sm-6 offset-sm-1 fundo-roxo prof-digimon">
    <div class="row">
      <div class="col-9 offset-sm-1 offset-lg-0">
        <h5>Professores e alunos.</h5>
        <h5>Cada vez mais perto.</h5>

        <p>Não importa qual a sua responsabilidade no Revisa, sempre estaremos em busca de simplicidade e eficiência para todas as suas atividades diárias. Tudo que você precisa pode ser criado e aplicado dentro do próprio aplicativo.</p>

        <img src="./../../../assets/imgs/professor.png" alt="Professor conectado aos alunos" class="prof-conect-img">
      </div>
    </div>
  </div>
</div>


<!--EXPLICAÇÃO DOS PRODUTOS PARA ALUNOS E ESCOLAS-->
<div class="row mt-5 pt-5">
  <div class="col-12 text-c" style="position: relative; z-index: 1;">
    <svg height="190" width="190"
         style="position: absolute;
             top: -20px;
             left: calc(50% - 90px);
             z-index: -1;">
      <circle cx="90" cy="90" r="90" fill="#fff" />
    </svg>

    <h4>Nossos produtos para</h4>
  </div>

  <div class="col-10 col-sm-5 col-lg-4 offset-1 offset-lg-2 mt-4">
    <div class="card card-produtos alunos">
      <h5 class="card-title">Alunos</h5>
      <hr class="linha-aluno">

      <div class="card-body">
        <p>Acesso às videoaulas online</p>
        <p>Aulas ao-vivo todos os dias</p>
        <p>Simulados direcionados e personalizados por você</p>
        <p>Redações semanais com avaliação por corretores do ENEM</p>
        <p>Plantão dúvidas das segundas às sextas</p>
        <p>Premiações mensais de acordo com o ranking dos melhores alunos</p>
        <p>E muito mais para você</p>
      </div>

      <div class="card-body">
        <button class="btn btn-estilo">
          experimentar grátis
        </button>
      </div>

    </div>
  </div>

  <div class="col-10 col-sm-5 col-lg-4 mt-4 offset-1 offset-sm-0">
    <div class="card card-produtos escolas">
      <h5 class="card-title">Escolas</h5>
      <hr class="linha-escola">

      <div class="card-body">
        <p>Acesso às videoaulas online</p>
        <p>Aulas ao-vivo todos os dias</p>
        <p>Simulados direcionados e personalizados por você</p>
        <p>Redações semanais com avaliação por corretores do ENEM</p>
        <p>Plantão dúvidas das segundas às sextas</p>
        <p>Premiações mensais de acordo com o ranking dos melhores alunos</p>
        <p>E muito mais para você</p>
      </div>

      <div class="card-body">
        <button class="btn btn-estilo">
          quero saber mais
        </button>
      </div>
    </div>
  </div>
</div>


<!--QUEM SOMOS, O QUE OFERECEMOS E COMO FAZEMOS MÁGICA-->
<div class="wrapper-gradient">
  <div class="row mt-5 pt-5 quem-somos"><!-- TÍTULOS -->
    <div class="col-12 text-c">
      <h4 class="sobre">Quem somos</h4>
    </div>

    <div class="col-12 text-c">
      <h4 class="sobre">O que oferecemos</h4>
    </div>

    <div class="col-12 text-c">
      <h4 class="sobre">Como fazemos mágica</h4>
      <hr style="
          width: 50%;
          max-width: 200px;
          min-width: 80px;
          border: none;
          height: 2px;
          background: #397E8E;
          border-radius: 5px;
          margin: 5px auto;">
    </div>
  </div>

  <div class="row mt-5"><!-- CARDS -->
    <div class="col-12 col-sm-4 cards">
      <div class="card card-max-w card-of-hd">
        <img src="./../../../assets/imgs/sobre/quem-somos.png" alt="Quem somos" class="card-img-top">

        <div class="card-body mt-2">
          <p class="card-text">Somos uma empresa focada no desenvolvimento pessoal e facilitadora do processo educacional em todos os ambientes em que o ímpeto  de aprender e desenvolver exista sempre.
          </p>
          <h6 class="card-subtitle">
            Quem somos
          </h6>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-4 cards">
      <div class="card card-max-w  card-of-hd">
        <img src="./../../../assets/imgs/sobre/oferecemos.png" alt="O que oferecemos" class="card-img-top">

        <div class="card-body mt-2">
          <p class="card-text">Oferecemos oportunidades de modernizar métodos educacionais, tornando-os mais eficientes e melhorando o processo de aprendizado em escolas e para pessoas.
          </p>
          <h6 class="card-subtitle">
            O que oferecemos
          </h6>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-4 cards">
      <div class="card card-max-w card-of-hd">
        <img src="./../../../assets/imgs/sobre/fazemos.png" alt="Como fazemos" class="card-img-top">

        <div class="card-body mt-2">
          <p class="card-text">Tudo acontece no sistema do RevisaENEM, responsável por gerir todos os dados nos mínimos detalhes e com todo o cuidado humano das mãos por trás da sua inteligência operacional.
          </p>
          <h6 class="card-subtitle">
            Como fazemos mágica
          </h6>
        </div>
      </div>
    </div>
  </div>


  <!--DEPOIMENTOS SOBRE O SISTEMA-->
  <div class="row depoimentos">
    <div class="col-11 offset-1">
      <h5>
        O que falam da gente
      </h5>
    </div>

    <!--        <div class="col-12 col-sm-6 offset-sm-1 mt-4">-->
    <!--          <p style="margin-bottom: 5px;">-->
    <!--            O RevisaENEM foi essencial para o meu crescimento profissional. Tive a oportunidade de estar próximo a professores e profissionais altamente capacitados que nos passam conhecimentos de forma segura e eficaz trazendo exemplos práticos e discussões que facilitam o aprendizado dos alunos.-->
    <!--          </p>-->

    <!--          <h6 class="nome-depoimentos">-->
    <!--            Josinalva Manana, 148 anos.-->
    <!--          </h6>-->
    <!--        </div>-->

    <!--        <div class="col-12 col-sm-4 mt-3 mt-sm-0">-->
    <!--          <img src="./../../../assets/imgs/sobre/incrivel-depo.png" alt="Sra. Incrível" class="img-fluid">-->
    <!--        </div>-->

    <!--CAROUSEL DE DEPOIMENTOS-->
    <div id="carouselDepo" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#carouselDepo" data-slide-to="0" class="active"></li>
        <li data-target="#carouselDepo" data-slide-to="1"></li>
        <li data-target="#carouselDepo" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <article>
            <p style="margin-bottom: 5px;">
              O RevisaENEM foi essencial para o meu crescimento profissional. Tive a oportunidade de estar próximo a professores e profissionais altamente capacitados que nos passam conhecimentos de forma segura e eficaz trazendo exemplos práticos e discussões que facilitam o aprendizado dos alunos.
            </p>

            <h6 class="nome-depoimentos">
              Josinalva Manana, 148 anos.
            </h6>
          </article>

          <img src="./../../../assets/imgs/sobre/incrivel-depo.png" alt="" class="img-fluid">
        </div>

        <div class="carousel-item">
          <article>
            <p style="margin-bottom: 5px;">
              O RevisaENEM foi essencial para o meu crescimento profissional. Tive a oportunidade de estar próximo a professores e profissionais altamente capacitados que nos passam conhecimentos de forma segura e eficaz trazendo exemplos práticos e discussões que facilitam o aprendizado dos alunos.
            </p>

            <h6 class="nome-depoimentos">
              Josinalva Manana, 148 anos.
            </h6>
          </article>

          <img src="./../../../assets/imgs/sobre/incrivel-depo.png" alt="" class="img-fluid">
        </div>

        <div class="carousel-item">
          <article>
            <p style="margin-bottom: 5px;">
              O RevisaENEM foi essencial para o meu crescimento profissional. Tive a oportunidade de estar próximo a professores e profissionais altamente capacitados que nos passam conhecimentos de forma segura e eficaz trazendo exemplos práticos e discussões que facilitam o aprendizado dos alunos.
            </p>

            <h6 class="nome-depoimentos">
              Josinalva Manana, 148 anos.
            </h6>
          </article>

          <img src="./../../../assets/imgs/sobre/incrivel-depo.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>

    <!--REDUNDÂNCIA DO CTA-->
    <div class="col-12 py-5 text-c ultimo-cta">
      <h4>Também quero usar o RevisaENEM</h4>

      <button class="btn btn-estilo">
        entrar em contato
      </button>
    </div>
  </div>
</div>
